<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Mini Streaming</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
  <header class="topbar">
    <h1> Mini Streaming</h1>
    <p class="subtitle">Géneros disponibles: Flask, Python y Anime</p>
    <a class="btn-form" href="{{ url_for('form') }}">Dejar valoración</a>
  </header>


  <main class="container">

    
    
    <section class="categoria">
      <h2>FLASK</h2>
      <div class="grid">
        {% for v in videos['Flask'] %}
        <article class="card">
          <h3>{{ v.title }}</h3>
          <p class="desc">{{ v.description }}</p>
          <div class="video-wrapper">
            <iframe 
              src="{{ v.embed_url }}" 
              title="{{ v.title }}" 
              allow="autoplay; encrypted-media" 
              allowfullscreen>
            </iframe>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>

    
    
    
    <section class="categoria">
      <h2>PYTHON</h2>
      <div class="grid">
        {% for v in videos['python'] %}
        <article class="card">
          <h3>{{ v.title }}</h3>
          <p class="desc">{{ v.description }}</p>
          <div class="video-wrapper">
            <iframe 
              src="{{ v.embed_url }}" 
              title="{{ v.title }}" 
              allow="autoplay; encrypted-media" 
              allowfullscreen>
            </iframe>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
    
    
    
    <section class="categoria">
      <h2>ANIME</h2>
      <div class="grid">
        {% for v in videos['anime'] %}
        <article class="card">
          <h3>{{ v.title }}</h3>
          <p class="desc">{{ v.description }}</p>
          <div class="video-wrapper">
            <iframe 
              src="{{ v.embed_url }}" 
              title="{{ v.title }}" 
              allow="autoplay; encrypted-media" 
              allowfullscreen>
            </iframe>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>

  </main>

  <footer class="footer">
    <small>App Demo- Grupo #2  V:1.0</small>
  </footer>
</body>
</html>
